body {
    height: 90%;
    width: 120%;
    
    font-family: Arial, sans-serif;
    background: white;
}

.app {
    width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 8px;
}

button{
    background-color: blue;
    border-radius: 4px;
    font-size: 20px;
    color: white;
}

.input-box {
    height: 90%;
    width: 120%;
    display: flex;
    gap: 1px;
}

input {
    flex: 1;
    padding: 15px;
}

button {
    padding: 10px 12px;
    cursor: pointer;
}

li {
    width: 350px;
    margin-right: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 3px solid #ddd;
    box-shadow: 0 0 20px rgb(177, 171, 160);

}

.done {
    text-decoration: line-through;
    color: gray;
}