*{
    margin: 0;
    padding: 0;
}
/* Это тело нашего сайта */
body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
.basic{
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftpart{
    width: 40%;
}
h1{
    color: royalblue;
    font-size: 80px;
}
h3{
    color: black;
    font-size: 30px;
}

.rightpart{

    width: 50%;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.loginpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 370px;
    box-shadow: -10px -10px 15px rgb(0, 0, 0, 0.1), 10px 10px 15px rgb(0, 0, 0, 0.1);
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}

input{
    width: 380px;
    height: 50px;
    margin:10px;
    padding: 0px 10px;
    border: 1px solid white;
    font-size: 18px;
    border-radius: 10px;
}

input[type="submit"]{
    background-color: rgb(0, 0, 350);
}
.createaccount{
    background-color: rgb(28, 211, 28);
    color: aliceblue;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 30px;
    font-size: 18px;
    font-weight: 30px;
    border-radius: 10px;
    padding: 8px;
}
hr{
    border: 1px solid #ccc;
    width:320px;
    margin: 20px 0px
}
.span{
    font-size: 18px;
    font-weight: 20px;
}

