*{
    margin: 0;
    padding: 0;
}

body{
    height: 90%;
    width: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.basic{
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.leftpart{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 70%;
    height: 70%;

}
h3{
    font-size: 40px;
    font-weight: 400;
    color: #000;
    line-height: 1.2;
    font-family: Georgia, "Times New Roman", serif;
}
.foto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 450px;
    

}

.rightpart{
    width: 50%;
    height: 50%;
    align-items: center;
    flex-direction: column;
}
.loginpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 50%;
    height: 50%;
    font-size: 25px;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

input{
    width: 350px;
    height: 20px;
    margin-bottom: 25px;
    border: 0px solid white;
    font-size: 25px;
    padding: 2.5%;
    border-radius: 20px;
}

input[type="submit"]{
    background-color: rgb(0, 0, 250);
    height: 35px;
}

.throughfacebook{
    background-color: white;
    color: black;
    
    align-items: center;
    text-align: center;
    width: 300px;
    height: 30px;
    font-size: 18px;
    font-weight: 30px;
    border-radius: 25px;
    padding: 8px;
    border: 0.5px solid;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    gap: 8px;
}


.createaccount{
    color: blue;
    /* flex контейнер*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 30px;
    font-size: 20px;
    font-weight: 30px;
    border-radius: 25px;
    padding: 8px;
    border:0.05px solid;
    line-height: 15px;
    margin: 25px;
}
.vline{
    width: 1200px;       
    transform: rotate(90deg);
    margin: 0 auto; 
}
span{
   background: linear-gradient(to right, red, orange, indigo, violet);
   background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.foto{
    font-size: 100%;
    font-weight: 100%;
    
}

.iconka{
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
    font-size: 70%;
    width: 70px;
    height: 50px;
    margin-right: 95%;

}

