<div class="product-card">
  <img src="product.image" [alt]="product.name" class="product-image">
  <h3> product.name </h3>
  <p class="description">{{ product.description }}</p>
  <div class="price-rating">
    <span class="price">{{ product.price | number }} ₸</span>
    <span class="rating"> {{ product.rating }}</span> 
  </div>
  <div class="actions">
    
    <a [href]="product.link" target="_blank" class="btn btn-primary">Посмотреть на Kaspi</a>
   
    <button (click)="shareOnWhatsApp()" class="btn btn-share">Поделиться</button>
  </div>

  <div class="products-grid">
  <app-product-card 
    *ngFor="let product of products" 
    [product]="product"> <!-- Передаем текущий продукт в карточку -->
  </app-product-card>
 </div>
</div>

